body::before {
  content: "";
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px);
}

.site-title {
  font-size: 1.8em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: linear-gradient(135deg, #1f1c2c 0%, #928DAB 100%);
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

nav h1 {
  display: inline;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 12px 18px;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transform: scale(1.05);
}

nav ul li a.active {
  background-color: #6A0572;
  color: #fff;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

a:focus {
  outline: none;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #6A0572;
}

.logout-popup {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-popup-content {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  padding: 50px;
  text-align: center;
  font-size: 17px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.button-logout {
  color: #f44336;
  border: 2px solid #f44336;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-yes {
  background-color: #f44336;
  color: white;
}

.button-cancel {
  background-color: #ecebea;
  color: black;
  border: 1px solid black;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  margin-bottom: 2px;
}

.role {
  display: flex;
  flex-direction: column;
}

.user-role {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px;
}

nav ul li a.active {
  background-color: #784ba0;
  color: #fff;
  border-radius: 5px;
}

.logout-popup-content p {
  font-size: 18px;
  color: #333;
}

.logout-popup-content button {
  font-size: 16px;
}