<nav>
  <ul class="nav-links">
    <ng-container *ngIf="isLoggedIn">
      <li><a routerLink="/user/view/conference-events" *ngIf="isCustomer">Conference Events</a></li>
      <li><a routerLink="/user/view/applied-conference-event" *ngIf="isCustomer">My bookings</a></li>
      <li *ngIf="isCustomer">
        <a routerLinkActive="active">Feedback</a>
        <ul class="sub-menu">
          <li><a routerLink="/user/add/feedback">Post Feedback</a></li>
          <li><a routerLink="/user/view/feedback">My Feedbacks</a></li>
        </ul>
      </li>
    </ng-container>
  </ul>
</nav>

